<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <script src="/js/flowbite/flowbite.min.js"></script>

    <script defer data-domain="socket.ba.uncertitu.de" src="https://p.ba.uncertitu.de/js/script.js"></script>
    <script>window.plausible = window.plausible || function () { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    <title>
        <%= title %>
    </title>
</head>

<body>