<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/style.css" rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#25a790">
  <meta name="msapplication-TileColor" content="#25a790">
  <meta name="theme-color" content="#d1f6eb">

  <script>
    function refreshView() {

      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
        document.querySelector('#sidebar').classList.add('dark')
        document.querySelector('html').setAttribute('data-theme', 'dark');
        console.log('refreshing view: dark')
      } else {
        document.documentElement.classList.remove('dark')
        document.querySelector('#sidebar').classList.remove('dark')
        document.querySelector('html').setAttribute('data-theme', 'light');
        console.log('refreshing view: light')
      }
    }
    refreshView();
  </script>

  <title>
    <%= title %> | yoyo!
  </title>
</head>

<body>