<%- include('./partials/page_start', {title: "â©About", page_title: "About this page"}) %>

<p>Wouldn't it be cool, if this page was already finished?</p>
<%# TODO: https://make.yoyomachines.io/Info/Licensing + andere Lizensen (Icons, etc.) %>
<%- include('./partials/page_end') %>