<%- include('./partials/page_start', {title: "🚀Build", page_title: "How to Build a Yo-Yo Machine"}) %>

<div class="flex items-center justify-center place-content-center h-full">
  <iframe src="/build_guide.html" class="grow h-full"></iframe>
</div>

<%- include('./partials/page_end') %>