<%- include('./partials/page_start', {title: "🚀Build", page_title: "How to Build a Yo-Yo Machine"}) %>

<p>Wouldn't it be cool, if this page was already finished?</p>

<%- include('./partials/page_end') %>