<%- include('./partials/page_start', {title: "ðŸ› ï¸My Device - Processing Login", page_title: "My Device"}) %>
<%- include('./partials/javascript-required') %>

<div class="flex items-center justify-center h-4/5 flex-col gap-5 space-y-2 bg-water-leaf-200 rounded-xl">
  <h2 class="text-3xl"><%- yoyo %></h2>
  <p>Here you can edit the image, the notes and send links to your Yo-Yo machine. Additionally you can create links to send lights or share this page as read-only. We recommend to bookmark this page, so you won't have to login again.</p>
</div>

<%# TODO: add function to this page! %>

<%- include('./partials/page_end') %>