<%- include('./partials/page_start', {title: "ðŸ› ï¸My Device - Processing Login", page_title: "My Device"}) %>
<%- include('./partials/javascript-required') %>

<div class="flex items-center justify-center h-4/5 flex-col gap-5 space-y-2 bg-water-leaf-200 rounded-xl">
  <h2 class="text-3xl">Processing Login... </h2>
  <p>We send you a color. Please try to match the color and send it back. That way we know it is you :)</p>
</div>

<%# TODO: write JS to redirect to /device-control if success %>

<%- include('./partials/page_end') %>