<%- include('./partials/page_start', {title: "ðŸ Home", page_title: "Welcome!"}) %>

<p>Have you heard about Yo-Yo Machines? They're super cool communication devices that you can actually make yourself. The best part is, they let you send all kinds of fun signals like lights, sounds, or even simple mechanical movements. It's like a whole new way to chat without actually talking!</p>

<p>If you want more information on this awesome invention, check out yoyomachines.io. And guess what?</p>

<p>This page right here is an extension of that amazingness. It's got some really useful stuff to help you out:</p>

<ul class="m-5">
  <li>â‘  We've got a guide to building your very own Yo-Yo Machine. Trust us, it's not as hard as it sounds!</li>
  <li>â‘¡ There's also a handy FAQ section where you can find answers to all your burning questions.</li>
  <li>â‘¢ Oh, and you can even test your device here. Yea, that's right! You can send some funky lights to your machine and enjoy other fun things.</li>
  <li>â‘£ Curious about how many other Yo-Yo Machines are connected to our server? We've got you covered!</li>
  <li>â‘¤ Wanna dig into the nitty-gritty details? You can find out what data we process and where it goes.</li>
  <li>â‘¥ And lastly, if you want to know more about this little project, we've got some juicy info for you.</li>
</ul>

<p>So go ahead and explore. Get ready to have a blast with your very own Yo-Yo Machine!</p>

<%- include('./partials/page_end') %>