<%- include('./partials/page_start', {title: "☝️Privacy Policy", page_title: "Welcome!"}) %>

<p>The following data is transmitted encrypted/unencrypted <%# TODO %> when you use Yo-Yo Machines:</p>

<ul class="list-disc list-inside">
  <li>your IP</li>
  <li>the MAC address of the Yo-Yo Machine you are sending from and the one of the one you are trying to reach</li>
</ul>

<p>The following data is transmitted when you use this website:</p>

<ul class="list-disc list-inside">
  <li>TBD<%# TODO %></li>
</ul>

<p>The data is saved for ???<%# TODO %> in the following location:</p>
<ul class="list-disc list-inside">
  <li>Falkenstein, Germany</li>
</ul>


<%- include('./partials/page_end') %>