<%- include('./partials/page_start', {title: "📈Stats", page_title: "Statistics & Numbers"}) %>

<div class="px-4 py-16 mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <div class="text-center border-r">
      <h6 class="text-5xl font-bold">42</h6>
      <p class="font-medium tracking-widest uppercase text-base">
        Currently online
      </p>
    </div>
    <div class="text-center border-r">
      <h6 class="text-5xl font-bold">42</h6>
      <p class="font-medium tracking-widest uppercase text-base">
        YYM seen
      </p>
    </div>
    <div class="text-center border-r">
      <h6 class="text-5xl font-bold">42</h6>
      <p class="font-medium tracking-widest uppercase text-base">
        Downloads
      </p>
    </div>
    <div class="text-center border-r">
      <h6 class="text-5xl font-bold">42</h6>
      <p class="font-medium tracking-widest uppercase text-base">
        Signals sent
      </p>
    </div>
    <div class="text-center border-r">
      <h6 class="text-5xl font-bold">42</h6>
      <p class="font-medium tracking-widest uppercase text-base">
        Links shared
      </p>
    </div>
    <div class="text-center">
      <h6 class="text-5xl font-bold">42</h6>
      <p class="font-medium tracking-widest uppercase text-base">
        Devices exploded
      </p>
    </div>
  </div>
</div>

<%- include('./partials/page_end') %>