@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa.ttf");
}
@font-face {
    font-family: "Economica";
    src: url("../fonts/Economica-Regular.ttf");
}